- content_for :head do
  :css
    #canvas-image {
      background-image: url(#{@marketing_render.file.url});
    }

.container-fluid
  .row
    #particles-js
      %canvas#canvas-image
    .canvas-overlay
      .top-bar
        .container
          .row
            .col-xs-12
              .pull-left
                = link_to root_url, class: 'site-logo-link' do
                  .title.lobster
                    CanaryClip
              .pull-right
                = render partial: "layouts/menu"
      .container
        .row.text-center.slogan-text
          .col-xs-12
            %h1 Share Minecraft Builds Online
            .lead Inspire other Builders
          .col-xs-12.col-md-6.col-md-offset-3
            = link_to '#', class: 'btn btn-primary btn-lg btn-block start-magic' do
              = fa_icon('magic')
              = "Start The Magic"

%br
.container#getting-started
  .row
    .col-xs-12.col-md-6
      %h2 Getting Started with CanaryClip
      %p= "CanaryClip is a mod for Minecraft that allows you to upload and download builds <i>without</i> leaving your Minecraft server. Follow these guides to get started!".html_safe
      %br
      = link_to quick_start_path, class: 'btn btn-primary btn-lg btn-block' do
        = fa_icon 'bolt'
        &nbsp;
        = "Quick Start Guide"
      %br
      = link_to server_setup_path, class: 'btn btn-primary btn-lg btn-block' do
        = fa_icon 'server'
        &nbsp;
        = "Add CanaryClip To Your Server"
      %br
      = link_to character_claims_path, class: 'btn btn-primary btn-lg btn-block' do
        = fa_icon 'sign-in'
        &nbsp;
        = "Claim Your Minecraft Character"
      %br
      %br
    .col-xs-12.col-md-6
      .embed-responsive.embed-responsive-16by9
        %iframe{class: "embed-responsive-item", width: "560", height: "315", src: "https://www.youtube.com/embed/FbE3eVabLX8", frameborder: "0", allowfullscreen: true}

.white-background
  .container-fluid.squared-stripe
    .container
      .row
        .col-xs-12
          %h2 Showcase Your Minecraft Builds
          %p Check out a few examples of what other builders have uploaded.
          %br

        - @schematics.each do |schematic|
          .col-xs-12.col-sm-4
            .schematic-preview-card= link_to image_tag(schematic.primary_render.file.url, class: 'img-responsive rounded'), schematic_path(schematic)
            %br

- content_for :script do
  :javascript

    var bounce = new Bounce();
      bounce
        .scale({
          from: { x: 0, y: 1 },
          to: { x: 1, y: 1 },
          easing: "bounce",
          duration: 1000,
          stiffness: 1
        })
        .scale({
          from: { x: 1, y: 0 },
          to: { x: 1, y: 1 },
          easing: "bounce",
          duration: 1000,
          stiffness: 1,
          bounces: 6
        });

    $(document).ready(function(){

      bounce.applyTo($('.start-magic'));

      $('.start-magic').on('click', function(){
        $.scrollTo($("#getting-started").offset().top-100, 350);

        return false;
      });

      var granimInstance = new Granim({
        element: '#canvas-image',
        direction: 'top-bottom',
        opacity: [1, .5, 0],
        isPausedWhenNotInView: true,
        states : {
            "default-state": {
                gradients: [
                    ['#485563', '#29323c', '#29323c'],
                    ['#00c6ff', '#0072ff', '#0072ff']
                ],
                transitionSpeed: 10000
            }
        }
      });
    });

    particlesJS("particles-js", {
      "particles": {
        "number": {
          "value": 80,
          "density": {
            "enable": true,
            "value_area": 800
          }
        },
        "color": {
          "value": "#ffffff"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.5,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 3,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": true,
          "distance": 150,
          "color": "#ffffff",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 6,
          "direction": "none",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": false,
            "mode": "grab"
          },
          "onclick": {
            "enable": false,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 140,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    });
