- if schematics.blank?
  .container
    .col-xs-12.text-center
      .giant-fa-icon= fa_icon 'terminal'
      .lead No Builds Found
      %p Get started by #{link_to('uploading your Minecraft build', new_schematic_path)}.
- else
  .container-fluid
    .grid
      - schematics.each do |schematic|
        .grid-item.col-xs-12.col-sm-6.col-lg-4
          .schematic-card.rounded
            = link_to image_tag(schematic.primary_render.file.url, class: 'img-responsive semi-gray-scale'), schematic_path(schematic)
            .card-info.light-background
              .row
                .col-xs-6
                  .roboto
                    = link_to schematic.permalink, schematic_path(schematic)
                .col-xs-6.text-right
                  = "#{fa_icon('download')} #{number_with_delimiter(schematic.total_download_impressions)}".html_safe
                  = "#{fa_icon('heart')} #{number_with_delimiter(schematic.favorited_by_characters.count)}".html_safe
              - if schematic.tags.present?
                %br
                - schematic.tags.each do |tag|
                  %span.tag.rounded
                    = link_to tag.name, tag_path(tag.name)
              .strike
                %span= "#{number_with_delimiter(schematic.total_block_count)} Blocks"
              - schematic.block_counts.visible.most_used_order.each do |block_count|
                = link_to block_icon_with_title(block_count), block_path(block_count.block)

-content_for :script do
  :javascript
    var $grid = $('.grid').masonry({
      // options...
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
