.row.schematic-view
  .col-xs-12
    .col-xs-12.white-stripe
      .row
        .col-xs-12.col-md-3.col-md-push-9.right-column
          %p
            = image_tag(@schematic.character.avatar.url, class: 'small-character-avatar')
            = @schematic.character
          %hr
          %p= link_to "Download", download_schematic_path(@schematic), class: 'btn btn-primary btn-block'
          %input{type: 'text', readonly: 'readonly', value: @schematic.permalink}
          %p.small Use the command `mb load #{@schematic.permalink}` to download this schematic to your clipboard.
          %hr
            %dl
              %dt Uploaded
              %dd= @schematic.created_at
              %dt Views
              %dd= number_with_delimiter @schematic.total_show_impressions
              %dt Downloads
              %dd= number_with_delimiter @schematic.total_download_impressions
              %dt Block Count
              %dd= number_with_delimiter @schematic.total_block_count
              %dt Width
              %dd= number_with_delimiter @schematic.width
              %dt Length
              %dd= number_with_delimiter @schematic.length
              %dt Height
              %dd= number_with_delimiter @schematic.height
          %table
            %tbody
              - @schematic.block_counts.visible.most_used_order.each do |block_count|
                %tr
                  %td
                    - if block_count.block.icon.present?
                      = image_tag block_count.block.icon.url, class: 'block-icon'
                  %td &nbsp;
                  %td= block_count.block.display_name
                  %td &nbsp;
                  %td= number_with_delimiter block_count.count
        .col-xs-12.col-md-9.col-md-pull-3
          .row
            .col-xs-12
              #carousel-example-generic.carousel.slide{:'data-ride' => "carousel"}
                %ol.carousel-indicators
                  - @schematic.renders.each_with_index do |render, index|
                    %li{:'data-target' => "#carousel-example-generic", :'data-slide-to' => index, :class => "#{'active' if index.zero?}"}

                .carousel-inner{:role => "listbox"}
                  - @schematic.renders.each_with_index do |render, index|
                    .item{class: "#{'active' if index.zero?}"}
                      = image_tag render.file.url

                %a.left.carousel-control{href: "#carousel-example-generic", role: "button", :'data-slide' => "prev"}
                  %span.glyphicon.glyphicon-chevron-left{:'aria-hidden' => "true"}
                  %span.sr-only Previous
                %a.right.carousel-control{href: "#carousel-example-generic", role: "button", :'data-slide' => "next"}
                  %span.glyphicon.glyphicon-chevron-right{:'aria-hidden' => "true"}
                  %span.sr-only Next
