.row.schematic-view
  .col-xs-12.white-stripe
    .col-xs-12.col-md-8
      .visible-xs.visible-sm
        .strike
          %span
            = image_tag(@schematic.character.avatar.url, class: 'small-character-avatar')
            = @schematic.character
      .slick-slider
        - @schematic.renders.standard_resolution.camera_angle_order.each_with_index do |render, index|
          = image_tag render.file.url
      %br
      .description
        - if can?(:update, @schematic)
          .description-form
            = simple_form_for @schematic do |f|
              = f.input :description, label: false
              = f.button :submit, 'Save', class: "btn-primary"
        - else
          .description-text
            = simple_format @schematic.description
      %br
    .col-xs-12.col-md-4
      .visible-lg.visible-md
        .strike
          %span
            = image_tag(@schematic.character.avatar.url, class: 'small-character-avatar')
            = @schematic.character
      %br
      .row
        .col-xs-12
          = formatted_date @schematic.created_at
        .col-xs-12
          = "#{number_with_delimiter(@schematic.total_show_impressions)} Views"
        .col-xs-12
          = dimensions(@schematic)

      %br
      %br
      - download_count = number_with_delimiter(@schematic.total_download_impressions)
      - favorite_count = number_with_delimiter(@schematic.favorited_by_characters.count)
      .row
        .col-xs-6
          = link_to "Download".html_safe, download_schematic_path(@schematic), class: 'btn btn-primary btn-block'
        .col-xs-6
          - if @favorite.present?
            = link_to "Unfavorite", schematic_favorite_path(@schematic, @favorite), class: 'btn btn-danger btn-block', method: :delete
          - else
            = link_to "Favorite", schematic_favorites_path(@schematic), class: 'btn btn-danger btn-block', method: :post

      %br
      %input{type: 'text', readonly: 'readonly', value: @schematic.permalink}
      %br
      %br
      %p.small Use the command `mb load #{@schematic.permalink}` to download this schematic to your clipboard.
      .strike
        %span= "#{download_count} Downloads"
      - @schematic.downloaded_by_characters.each do |character|
        = image_tag(character.avatar.url, class: 'small-character-avatar')
      .strike
        %span= "#{favorite_count} Favorites"
      - @schematic.favorited_by_characters.each do |character|
        = image_tag(character.avatar.url, class: 'small-character-avatar')
      .strike
        %span= "#{number_with_delimiter(@schematic.total_block_count)} Blocks"
      - @schematic.block_counts.visible.most_used_order.each do |block_count|
        = block_icon_with_title(block_count)
      %hr
        .text-center= social_share_button_tag t('.social_share_title', name: @schematic.permalink, character_name: @schematic.character.username)

- content_for :script do
  :javascript
    $(document).ready(function(){
      $('.slick-slider').slick({
        dots: true,
        accessibility: true,
        autoplay: true
      });

      $('.description-text').readmore();
    });
