.row.schematic-view
  .col-xs-12.white-stripe
    .col-xs-12.col-md-8
      .slick-slider
        - @schematic.renders.standard_resolution.camera_angle_order.each_with_index do |render, index|
          = image_tag render.file.url
      %br
      .description
        .description-text= simple_format @schematic.description
        - if can?(:update, @schematic)
          .description-form
            = simple_form_for @schematic do |f|
              = f.input :description, label: false
              = f.button :submit, 'Save', class: "btn-primary"
      %br
    .col-xs-12.col-md-4
      %p
        = image_tag(@schematic.character.avatar.url, class: 'small-character-avatar')
        = @schematic.character
      %hr
      - if @favorite.present?
        %p= link_to "Unfavorite", schematic_favorite_path(@schematic, @favorite), class: 'btn btn-primary btn-block', method: :delete
      - else
        %p= link_to "Favorite", schematic_favorites_path(@schematic), class: 'btn btn-primary btn-block', method: :post
      %p= link_to "Download", download_schematic_path(@schematic), class: 'btn btn-primary btn-block'
      %input{type: 'text', readonly: 'readonly', value: @schematic.permalink}
      %p.small Use the command `mb load #{@schematic.permalink}` to download this schematic to your clipboard.
      %hr
        %dl
          %dt Share
          %dd= social_share_button_tag t('.social_share_title', name: @schematic.permalink, character_name: @schematic.character.username)
          %dt Uploaded
          %dd= @schematic.created_at
          %dt Views
          %dd= number_with_delimiter @schematic.total_show_impressions
          %dt Downloads
          %dd= number_with_delimiter @schematic.total_download_impressions
          %dt= "Downloaded By (#{@schematic.downloaded_by_characters.count})"
          %dd
            - @schematic.downloaded_by_characters.each do |character|
              = image_tag(character.avatar.url, class: 'small-character-avatar')
          %dt= "Favorited By (#{@schematic.favorited_by_characters.count})"
          %dd
            - @schematic.favorited_by_characters.each do |character|
              = image_tag(character.avatar.url, class: 'small-character-avatar')
          %dt Block Count
          %dd= number_with_delimiter @schematic.total_block_count
          %dt Dimensions
          %dt= dimensions(@schematic)
      %table
        %tbody
          - @schematic.block_counts.visible.most_used_order.each do |block_count|
            %tr
              %td
                - if block_count.block.icon.present?
                  = image_tag block_count.block.icon.url, class: 'block-icon'
              %td &nbsp;
              %td= block_count.block.display_name
              %td &nbsp;
              %td= number_with_delimiter block_count.count

- content_for :script do
  :javascript
    $(document).ready(function(){
      $('.slick-slider').slick({
        dots: true,
        accessibility: true,
        autoplay: true
      });

      $('.description-text').readmore();
    });
