= title "Build ##{@schematic.permalink} By #{@schematic.character.username}"

- content_for :head do
  %meta{name: "twitter:card", content: "summary_large_image"}
  %meta{name: "twitter:site", content: "@CanaryClip"}
  %meta{name: "twitter:url", content: schematic_url(@schematic)}
  %meta{name: "twitter:title", content: "Build ##{@schematic.permalink} By #{@schematic.character.username}"}
  %meta{name: "twitter:description", content: "Minecraft Build ##{@schematic.permalink} By #{@schematic.character.username} via CanaryClip. View and Download this build to your Minecraft world!"}
  %meta{name: "twitter:image", content: asset_url(@schematic.primary_render.file.url)}

  %meta{property: "og:url", content: schematic_url(@schematic)}
  %meta{property: "og:type", content: "website"}
  %meta{property: "og:title", content: "Build ##{@schematic.permalink} By #{@schematic.character.username}"}
  %meta{property: "og:image", content: asset_url(@schematic.primary_render.file.url)}
  %meta{property: "og:description", content: "Minecraft Build ##{@schematic.permalink} By #{@schematic.character.username} via CanaryClip. View and Download this build to your Minecraft world!"}
  %meta{property: "og:site_name", content: "CanaryClip"}
  %meta{property: "og:locale", content: "en_US"}

.container-fluid.schematic-stripe
  .row
    .container
      .row.schematic-view
        .col-xs-12.col-md-8.gradient-wrap.schematic-column{'data-match-height' => "schematic-column-group"}
          .slick-slider
            - @schematic.renders.standard_resolution.completed.camera_angle_order.each_with_index do |render, index|
              = image_tag render.file.url, class: "semi-gray-scale rounded"
          %br
        .col-xs-12.col-md-4.schematic-sidebar.schematic-column.light-background.rounded{'data-match-height' => "schematic-column-group"}
          %span
            = image_tag(@schematic.character.avatar.url, class: 'small-character-avatar')
            = link_to @schematic.character, character_path(@schematic.character)
          .strike
            %span= formatted_date @schematic.created_at
          .row
            .col-xs-12
              = link_to "#{fa_icon('download')} #{number_with_delimiter(@schematic.total_download_impressions)}".html_safe, download_schematic_path(@schematic), class: 'btn btn-primary', title: 'Download schematic file to your computer'
              - if @favorite.present?
                = link_to "#{fa_icon('heart')} #{number_with_delimiter(@schematic.favorited_by_characters.count)}".html_safe, schematic_favorite_path(@schematic, @favorite), class: 'btn btn-danger', method: :delete, title: 'Click to unfavorite'
              - else
                = link_to "#{fa_icon('heart-o')} #{number_with_delimiter(@schematic.favorited_by_characters.count)}".html_safe, schematic_favorites_path(@schematic), class: 'btn btn-danger', method: :post, title: 'Click to favorite'
              &nbsp;
              %span= "#{number_with_delimiter(@schematic.total_show_impressions)} Views"
          %br
          .row
            .col-xs-10
              .input-group
                %input{type: 'text', readonly: 'readonly', id: 'schematic-permalink-input', class: "form-control select-all-to-copy", value: @schematic.permalink}
                %span.input-group-btn
                  %button.btn.btn-secondary.btn-clipboard{type: "button", 'data-clipboard-target' => "#schematic-permalink-input", title: 'Click to copy to clipboard'}= fa_icon('clipboard')
            .col-xs-2
              .schematic-download-question-mark
                = link_to fa_icon('question-circle'), quick_start_path
          .row
            .col-xs-12
              &nbsp;
              = "#{fa_icon('arrow-circle-right')} via #{link_to(@schematic.server, server_path(@schematic.server))}".html_safe
          %br
          .row.small
            .col-xs-12
              = dimensions(@schematic)
          .description
            - if can?(:update, @schematic)
              .description-form
                = simple_form_for @schematic do |f|
                  = f.input :description, label: false
                  = f.button :submit, 'Save', class: "btn-primary"
            - elsif @schematic.description.present?
              .well.well-sm
                .description-text
                  = simple_format @schematic.description
          .strike
            %span= "#{number_with_delimiter(@schematic.total_block_count)} Blocks"
          - @schematic.block_counts.visible.most_used_order.each do |block_count|
            = link_to block_icon_with_title(block_count), block_path(block_count.block)
          %hr
            .text-center= social_share_button_tag t('.social_share_title', name: @schematic.permalink, character_name: @schematic.character.username)
          - if can?(:destroy, @schematic)
            %hr
            = link_to "Delete".html_safe, schematic_path(@schematic), class: 'btn btn-danger', title: 'Delete this schematic', method: :delete, confirm: "Are you sure?"

- content_for :script do
  :javascript

    $(document).ready(function(){
      new Clipboard('.btn-clipboard');

      $('.schematic-column').matchHeight();

      $(".select-all-to-copy").on("click", function () {
        $(this).select();
      });

      $('.slick-slider').slick({
        dots: true,
        accessibility: true,
        autoplay: true,
        arrows: false
      });

      $('.description-text').readmore({
        collapsedHeight: 100
      });
    });
