= title "Manage Your Characters"

.container
  .row
    .col-xs-12.col-sm-3
      = render partial: "user/shared/menu"
    .col-xs-12.col-sm-9
      .well.well-lg.light-background
        .row
          .span.col-xs-12.col-md-6.text-center
            .giant-fa-icon= fa_icon "leaf"
            = link_to 'Character Claim Guide', character_claims_path
          .span.col-xs-12.col-md-6.text-center
            .giant-fa-icon= fa_icon "plus-square"
            = link_to t('.add_character_claim'), new_user_character_claim_path

        - if current_character.present?
          %br
          %br
          %h3 Currently, Known As&hellip;
          .well
            .row
              .span.col-xs-4
                = image_tag(current_character.avatar.url, class: "rounded img-responsive")
              .span.col-xs-8
                %h3= current_character.username
                %samp= current_character.uuid
                %br
                %br
                %p= "#{current_character.schematics.count} Builds, #{current_character.favorites.count} Favorites, #{current_character.tracked_downloads.count} Downloadeds"
          %p.help-block
            You're currently signed in as #{current_character.username}. That means you can manage builds owned by #{current_character.username}, and all interactions (such as downloads and favorites) on CanaryClip will be tracked back to #{current_character.username}.
            - if current_user.characters.count > 1
              %strong You can change the character you are known as below.

        - if current_user.characters.count > 1
          %br
          .strike
            %span #{current_user.characters.count} Characters
          %table.table.table-condensed.table-hover.table-striped.character-management-table
            %tbody
              - current_user.characters.each do |character|
                %tr{class: (current_character == character ? 'info' : '')}
                  %td.text-center
                    = image_tag(character.avatar.url, class: 'small-character-avatar')
                  %td
                    .lead.no-margin= link_to character.username, character_path(character)
                    %samp= character.uuid
                  %td.text-center
                    .switch-control
                      - if current_character == character
                        .picked-character= fa_icon "check-circle"
                      - else
                        = link_to switch_user_character_path(character), class: "btn btn-primary", method: :post, title: "Switch to #{character.username}" do
                          = fa_icon('sign-in')
