= title t('.claim_your_character')

.container
  .row
    .col-xs-12.col-sm-3
      = render partial: "user/shared/menu"
    .col-xs-12.col-sm-9
      .well.well-lg.light-background
        %ol.breadcrumb
          %li= link_to "Characters", user_character_claims_path
          %li.active= t('.claim_your_character')

        %h1= t('.claim_your_character')
        %p= "Read the #{link_to('Character Claim Guide', character_claims_path)} for full instructions.".html_safe
        %br

        = simple_form_for [:user, @character_claim] do |f|
          = f.input :character_username
          = f.button :submit, value: "Claim your Character", class: 'btn btn-primary'
