.container
  .row
    .col-xs-12.col-sm-3
      = render partial: "user/shared/menu"
    .col-xs-12.col-sm-9
      .well.well-lg.light-background
        %ol.breadcrumb
          %li= link_to "Characters", user_character_claims_path
          %li.active= "Character Claim #{@character_claim.token}"

        .row
          .col-xs-12
            %h2
              = image_tag(@character_claim.character.avatar.url, class: 'small-character-avatar')
              = @character_claim.character.username
              %span.label{class: character_claim_state_label_class(@character_claim.state)}
                = @character_claim.state
          .col-xs-12
            %br
            %label= CharacterClaim.human_attribute_name(:token)
            .input-group
              %input{type: 'text', readonly: 'readonly', id: 'server-authenticity-token-input', class: "form-control select-all-to-copy", value: @character_claim.token}
              %span.input-group-btn
                %button.btn.btn-secondary.btn-clipboard{type: "button", 'data-clipboard-target' => "#server-authenticity-token-input", title: 'Click to copy to clipboard'}= fa_icon('clipboard')
            %p.help-block
              = "Verify you own this character by connecting to server <samp>#{@server.hostname}</samp> in Minecraft. Once connected to the verification server, use the command <code>//mb claim #{@character_claim.token}</code> to prove you own this character.".html_safe

- content_for :script do
  :javascript
    $(document).ready(function(){
      new Clipboard('.btn-clipboard');

      $(".select-all-to-copy").on("click", function () {
        $(this).select();
      });
    });
