!!! Strict
%html{ xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %title CanaryClip
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = yield :head
    %link{href: 'https://fonts.googleapis.com/css?family=Pacifico', rel: 'stylesheet', type: 'text/css'}
  %body
    - if !current_page?(root_url)
      .container-fluid
        .row.top-bar
          .container
            .row
              .col-xs-12
                .pull-left
                  = link_to root_url, class: 'site-logo-link' do
                    .title.lobster
                      CanaryClip
                .pull-right
                  = render partial: "layouts/menu"
    = yield
    .footer
      .container
        .row
          .col-xs-12
            .title.lobster
              CanaryClip
            %br
            %small
              %span © #{Time.now.year} CanaryClip
              %br
              %span This site is not affiliated with Minecraft or Mojang
    = render partial: "layouts/analytics"
    = javascript_include_tag "application"
    = yield :script
