!!! Strict
%html{ xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{:charset => "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "description", :content => "Publish Your Minecraft Schematics Online with automatically rendered images. Use our tools to promote your builds to a wider audience."}
    %meta{:name => "subject", :content => "Publish Minecraft Schematics"}
    %link{:rel => "icon", :type => "image/x-icon", :href => "url_to_my_favicon"}
    %title
      = if content_for?(:title) then yield(:title) + ' | ' end
      = "CanaryClip - Publish Your Minecraft Builds"
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = yield :head
    %link{href: 'https://fonts.googleapis.com/css?family=Pacifico', rel: 'stylesheet', type: 'text/css'}
  %body
    - if !current_page?(root_url)
      .container-fluid
        .row.top-bar
          .container
            .row
              .col-xs-12
                .pull-left
                  = link_to root_url, class: 'site-logo-link' do
                    .title.lobster
                      CanaryClip
                .pull-right
                  = render partial: "layouts/menu"
    .container
      = render partial: "layouts/flash_messages", flash: flash
    = yield
    .footer
      .container
        .row
          .col-xs-12.col-sm-4
            %small
              %span
                © #{Time.now.year}
                %span.lobster CanaryClip
              %br
              %span This site is not affiliated with Minecraft or Mojang
            %br
            %br
            %br
          .col-xs-12.col-sm-4
            %strong CanaryClip
            %hr
            %ul
              %li= link_to 'About', about_path
              %li= link_to 'Upload Minecraft Build', new_schematic_path
              %li= link_to 'Character Claim Guide', character_claims_path
              %li= link_to 'CanaryClip On Tumblr', 'http://canaryclip.tumblr.com/'
              %li= link_to '@CanaryClip', 'https://twitter.com/CanaryClip'
            %br
          .col-xs-12.col-sm-4
            %strong CanaryClip Minecraft Mod
            %hr
            %ul
              %li= link_to 'Player Quick Start Guide', quick_start_path
              %li= link_to 'Add CanaryClip To Your Server', server_setup_path
            %br
            %br
    = render partial: "layouts/analytics"
    = javascript_include_tag "application"
    = yield :script
