!!! Strict
%html{ xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{:charset => "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "description", :content => "The Minecraft Build Community. Find and share Minecraft builds without leaving Minecraft."}
    %meta{:name => "subject", :content => "Discover Minecraft Builds (Schematics)"}
    %title
      = if content_for?(:title) then yield(:title) + ' | ' end
      = "CanaryClip - The Minecraft Build Community: Copy and Paste for Minecraft"
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = yield :head
    %link{href: 'https://fonts.googleapis.com/css?family=Pacifico', rel: 'stylesheet', type: 'text/css'}
  %body
    - if !current_page?(root_url)
      .container-fluid
        .row.top-bar
          .container
            .row
              .col-xs-12
                .pull-left
                  = link_to root_url, class: 'site-logo-link' do
                    .title.lobster
                      CanaryClip
                .pull-right
                  = render partial: "layouts/menu"
    = yield
    .footer
      .container
        .row
          .col-xs-12
            %small
              %span
                © #{Time.now.year}
                %span.lobster CanaryClip
              %br
              %span This site is not affiliated with Minecraft or Mojang
    = render partial: "layouts/analytics"
    = javascript_include_tag "application"
    = yield :script
